body, html {
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: #8b300c;
}

h1{
  font-weight: 900;
  letter-spacing: 3px;
  color: white;
}

h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}