body, html {
  font-family: 'Montserrat', sans-serif;
}

/* .App {

}
 */
#grad {
  background-color: #c39712;
  background-image: linear-gradient(to bottom right, #c39712, #8b300c);
}

h1{
  font-weight: 900;
  letter-spacing: 3px;
  color: white;
}

h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.title-single{
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}